.DS_Store
*.DS_Store
.ipynb_checkpoints
*/.ipynb_checkpoints
*.*.swp
_book/
node_modules/

texas.qgs~
infrastructure/pkgs
part1/chart.html
part1/choropleth.html
part1/example.json
part1/example_HR80.html
part1/example_HR90.html
part1/hr90.html
part1/q5.png
part1/texas.html
part1/x_03_plotting.ipynb
part1/x_05_spatial_dynamics-hr.ipynb
part1/x_05_spatial_dynamics.ipynb
scipy16-linux-spec-file.txt
scipy16-mac-spec-file.txt
exported_packages.txt
packages
packages.txt
pydata.sh
pydata2.packages.txt
pydata2.yml
pydata_linux.txt
spec-file.txt
content/infrastructure/pkgs
content/part1/chart.html
content/part1/choropleth.html
content/part1/example.json
content/part1/example_HR80.html
content/part1/example_HR90.html
content/part1/hr90.html
content/part1/q5.png
content/part1/texas.html
content/part1/x_03_plotting.ipynb
content/part1/x_05_spatial_dynamics-hr.ipynb
content/part1/x_05_spatial_dynamics.ipynb

